@use "/src/styles/global.scss" as *;

.pato-gallery-container {
  background-color: #fff;

  .pato-galleryCategory-wrapper {
    @include flex-center;
    padding: 50px 0px;
		
    .galleryCategory {
      cursor: pointer;
      padding: 5px 20px;
      margin: 0 5px;
      border-radius: 20px;
      text-transform: uppercase;
      color: #555;
      letter-spacing: 0.1rem;
      font-size: 0.9rem;
      transition: $main-transition;
      &:hover {
        background-color: #000;
        color: #fff;
      }
    }
    .selected {
      background-color: #000;
      color: #fff;
    }
  }
  .pato-gallery-content {
    @include flex-align-start;
    flex-wrap: wrap;
		max-width: 1000px;
		margin: 0 auto;
  }
}

@media screen and (max-width:768px) {
	.pato-gallery-container {
	
		.pato-galleryCategory-wrapper {
			
			flex-direction: column;
			padding: 30px 10px;
			
			.galleryCategory {
				padding: 5px 20px;
				margin: 0 5px;
			}

		}

	}
}