@use "/src/styles/global.scss" as *;

.academia-container {
  max-width: 1300px;
  margin: 0 auto;
  transition: $main-transition;
  transition: max-height 1s ease-in;
}
.academia-desc {
  line-height: 1.4;
  font-size: 1rem;
  color: #999;
	transition: $main-transition;
	text-wrap: wrap;
}

.academia-toptitle {
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 2px;
}

.academia-main-title {
  font-weight: bolder;
  font-size: 2.5rem;
  line-height: 1.2;
	color: rgba(0, 0, 0, 0.8);
	text-wrap: wrap;
}
.academia-title-lg {
  font-weight: bolder;
  font-size: 4rem;
	color: rgba(0, 0, 0, 0.8);
	text-wrap: wrap;
}
.academia-title-md {
	font-size: 1.7rem;
	margin-bottom: 5px;
	text-wrap: wrap;
	color: rgba(0, 0, 0, 0.7);
	margin-bottom: 20px;
	font-weight: bolder;

}
.academia-title-sm {
	color: rgba(0, 0, 0, 0.8);
	font-size: 1.2rem;
	font-weight: bolder;
	text-wrap: wrap;
	transition: $main-transition;
}

.academia-img-wrapper {
  @include flex-center;
  overflow: hidden;
  img {
    min-height: 100%;
  }
}

.academia-avatar {
  width: 60px;
  height: 60px;
	transition: $main-transition;
}
.academia-icon {
  color: $academia-color;
font-size: 1.125rem;
  margin-right: 3px;
	transition: $main-transition;
}
.academia-thumb {
  @include flex-align-start;
  background-color: #fff;
  padding: 50px 30px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0px 5px 25px -2px rgba(0, 0, 0, 0.06);
  transition: $main-transition;
}

.academia-social{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin-right: 4px;
	padding: 12px;
	transition: $main-transition;
	background-color: $academia-color;
	color: #fff;
	cursor: pointer;
}

.academia-row{
	@include flex-center;
	background-color: $academia-color;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	color: #fff;
	font-size: 0.9rem;
	margin-right: 5px;
}