@use "/src/styles/global.scss" as *;

#academia {
  overflow-y: auto;
  height: calc(100vh - 60px);
  scroll-behavior: smooth;
	position: relative;
}

.academia-container{
	max-width: 1200px;
	margin: 0 auto;
}
.academia-desc{
	line-height: 1.4;
	font-size: 1rem;
}

.academia-toptitle{
	text-transform: uppercase;
	font-size: 0.8rem;
	font-weight: 700;
	letter-spacing: 2px;
}

.academia-main-title{
	font-weight: bolder;
	font-size: 40px;
	line-height: 1.2;
}

.academia-img-wrapper{
	@include flex-center;
	overflow: hidden;
	img {
		min-height: 100%;
	}
}