@use "/src/styles/global.scss" as *;

.glint-footer-container {
  background-color: #000;
  color: #777;
  padding: 100px 20px;
  margin: 0 auto;
	border-top: 1px solid #333;
  .footer-top {
    @include flex-align-start;
    gap: 20px;
    padding-bottom: 50px;
    .footer-top__left {
      width: 50%;
      max-width: 500px;
      h3 {
        color: $glint-color-green;
        padding-bottom: 20px;
      }
    }
    .footer-top__right {
      max-width: 500px;
      width: 50%;
      h3 {
        color: #fff;
        padding-bottom: 20px;
      }

    }
  }
  .footer-bottom {
    @include flex-center;
    gap: 20px;
    font-size: 0.9rem;
  }
	.form-wrapper{
		padding: 20px 0px !important;
		max-width: 300px;
	}
  .input-container {
    position: relative;
  }
  .footer-label {
    position: absolute;
    top: 3px;
    left: 10px;
    * {
      font-size: 1.8rem;
    }
  }
  .footer-input {
    padding-left: 45px;
		border-radius: 5px 5px 0 0;
  }
	.glint-form-button{
		border-radius: 0 0 5px 5px;
	}
}

@media screen and (max-width: 768px) {
  .glint-footer-container {
    .footer-top {
      flex-direction: column;
      padding-bottom: 50px;
      .footer-top__left {
        width: auto;
        padding: 0 20px;
        h3 {
          padding-bottom: 20px;
        }
      }
      .footer-top__right {
        width: auto;
        padding: 0 20px;
      }
    }
  }
}

@media screen and (max-width: 412px) {
  .glint-footer-container {
    .footer-top {
      .footer-top__right {
        .subscribe-container {
          flex-direction: column;
        }
      }
    }
    .footer-bottom {
      flex-direction: column;
      gap: 0px;
      font-size: 0.8rem;
    }
  }
}
