@import "/src/styles/variables";
@import "/src/styles/base";

.pato-home-intro-container {
	padding: 40px;
	background-color: #fff;
  .pato-home-intro-header {
    @include flex-center();
    flex-direction: column;
    background-image: url("../../../../../../public/assets/images/pato/home/slider/slide01.jpg");
    background-attachment: fixed;
    background-size: cover;
    height: 200px;
    color: #fff;
    .pato-home-intro__title {
      color: $pato-color-red;
    }
  }

	.pato-home-intro-content{
padding: 20px;
display: flex;
justify-content: center;
align-items: center;
gap: 30px;
		.pato-home-intro-content-container{
			img{
				width: 300px;
				border-radius: 10px;
			}
			p{
				max-width: 300px;
			}
		}
	}


}
