@import "/src/styles/variables";
@import "/src/styles/base";

.header-container {
	@include fullWidth();
	@include flex-center();
  justify-content: space-between;
  height: 60px;
  position: relative;
  top: 0;
  background-color: $main-color-gray-semi-dark;
  border: 1px solid $main-color-gray;
  z-index: 11;
}

.navbar-wrapper , .contactInfo-wrapper {
  position: relative;
  top: -40px;
  height: 0;
  opacity: 0;
  transition: $main-transition;
	pointer-events:none;
  z-index: -1;
}
.navbar-wrapper.show, .contactInfo-wrapper.show {
  height: auto;
  opacity: 1;
  top: 0px;
	pointer-events:all;
  z-index: 10;
}

@media screen and (max-width: 768px) {
  .header-container {
    height: 50px;
		padding: 0px 30px;
  }
}

@media screen and (max-width: 412px) {
  .header-container {
    height: 40px;
		padding: 0px 20px;
  }
}
