@import "/src/styles/variables";
@import "/src/styles/base";

#pato {
  overflow-y: auto;
  height: calc(100vh - 60px);
  scroll-behavior: smooth;
}

.pato-top-title {
  font-family: "Courgette";
  font-size: 1.7rem;
}

.pato-title {
  font-size: 2.8rem;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1rem;
}
.pato-subtitle {
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  color: #333;
  font-size: 1.25rem;
}
.pato-desc {
  color: #777;
  line-height: 1.5;
  font-size: 1rem;
}
.pato-image-hover-wrapper {
	@include flex-center();
  border-radius: 10px;
  overflow: hidden;
	&:hover img{
		transform: scale(1.1);
	}
  img {
    border-radius: 10px;
    transition: $main-transition;
		min-width: 100%;
		min-height: 100%;
		object-fit: cover;

  }
}

.pato-header {
  @include flex-center();
  flex-direction: column;
  text-align: center;
  background-image: url("../../../public/assets/images/pato/header.jpg");
  background-attachment: fixed;
  background-size: cover;
  height: 200px;
  .pato-top-title {
    color: $pato-color-red;
  }
  .pato-title {
    color: #fff;
  }
}

.pato-section-header{
	height: 250px;
	padding-top: 50px;
	color: #fff;
}
