@import "/src/styles/variables";
@import "/src/styles/base";

#pato {
  overflow-y: auto;
  height: calc(100vh - 60px);
  scroll-behavior: smooth;
}

.pato-top-title{
	font-family: 'Courgette';
	font-size: 1.7rem;
}

.pato-title{
	font-size: 2.8rem;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 1rem;
}
.pato-image-hover-wrapper{
	border-radius: 10px;
	overflow: hidden;
	img{
		border-radius: 10px;
		transition: $main-transition;
		&:hover {
			transform: scale(1.1);
		}
	}
}