#pato {
  overflow-y: auto;
  height: calc(100vh - 60px);
  scroll-behavior: smooth;
}

.pato-top-title{
	font-family: 'Courgette';
	font-size: 1.7rem;
}

.pato-title{
	font-size: 4rem;
	text-transform: uppercase;
	font-weight: bold;
}