@use "/src/styles/global.scss" as *;

.academia-course-thumb-container {
  background-color: #fff;
  width: 380px;
  height: 450px;
  padding: 50px 30px;
  margin: 5px;
  box-shadow: 0px 5px 25px -2px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  transition: $main-transition;
  position: relative;
  &:hover {
    background-color: #e6e6e6;
    cursor: pointer;
  }
  .academia-course-thumb-top {
    @include flex-align-start;
    gap: 20px;
    .icon {
      background-color: $academia-color;
      color: #fff;
      border-radius: 50%;
      width: 80px;
      height: 80px;
      padding: 10px;
    }
    .academia-course-thumb-details {
      width: 250px;
      .academia-title {
        font-size: 1.7rem;
        margin-bottom: 5px;
        text-wrap: wrap;
        color: rgba(0, 0, 0, 0.7);
      }
      .score-wrapper {
        @include flex-justify-start;
        color: $academia-color;
        gap: 7px;
        margin-bottom: 5px;

        .score-icon {
          margin-right: 2px;
        }
      }
      .teacher-wrapper {
        @include flex-justify-start;
        margin-bottom: 5px;
        .image-wrapper {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          overflow: hidden;
          img {
            width: 100%;
          }
        }
        .author {
          color: #999;
          margin-left: 10px;
          font-size: 0.95rem;
        }
      }
      .lecture {
        color: $academia-color;
        font-size: 0.9rem;
        font-weight: bold;
      }
    }
  }
  .price-wrapper {
    @include flex-center;
    gap: 20px;
    width: 320px;
    background-color: #f8f8f8;
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
    color: $academia-color;
    font-size: 1.05rem;
    position: absolute;
    bottom: 80px;
    left: 30px;

    .deleted {
      color: #aaa;
      font-size: 0.95rem;
      position: relative;
      &::after {
        content: "";
        width: 140%;
        height: 2px;
        background-color: #aaa;
        position: absolute;
        top: 50%;
        left: -20%;
      }
    }
  }
  .academia-course-thumb-btn {
    @include flex-center;
    width: 320px;
    background-color: $academia-color;
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
    color: #fff;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    position: absolute;
    bottom: 30px;
    left: 30px;
  }
	.academia-course-discount{
		@include flex-center;
		position: absolute;
		top: 10px;
		right: 10px;
		width: 35px;
		height: 35px;
		background-color: red;
		color: #fff;
		border-radius: 10px;
		font-size: 0.8rem;
		font-weight: bold;
	}
}
