.navbar-container {
  background-color: #444;
  // padding: 0px 50px;
  transition: all ease-out 400ms;
  position: fixed;
  width: 100%;
  z-index: 10;

  .navbar-thumbnail {
    background-color: #222;
    width: 225px;
		height: 140px;
    margin: 0 auto;
    padding: 8px;
    border-radius: 5px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);

    .navbar-thumbnail_top {
      display: flex;
      justify-content: stretch;
      align-items: center;
      border-bottom: 1px solid #444;

      .navbar-thumbnail_image {
        width: 100px;
        height: 50px;
        border-radius: 5px;
      }
      .navbar-thumbnail_title {
        text-align: center;
        color: #fff;
      }
    }
    .navbar-thumbnail_description {
      text-align: left;
      color: #999;
      font-size: 0.7rem;
			padding: 5px 0px;
			border-bottom: 1px solid #444;
    }
    .navbar-thumbnail_package {
      .btn {
				border: 1px solid #333;
        .txt,
        .icon {
          font-size: 0.6rem;
        }
      }
    }
  }
}

.mySwiper {
  padding: 20px 50px;
  // max-width: 900px;
	background-color: #444;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  color: #fff;
}

.swiper-slide {
	width: auto!important;
}

// @media screen and (max-width: 992px) {
//   .navbar-container {
//     .navbar-thumbnail {
//       width: 90px;
//       padding: 5px;
//       .navbar-thumbnail_image {
//         width: 80px;
//         height: 80px;
//       }
//     }
//   }
//   .mySwiper {
//     padding: 10px 70px;
//     width: 600px;
//   }
// }

// @media screen and (max-width: 768px) {
//   .navbar-container {
//     padding: 0px;
//     .navbar-thumbnail {
//       width: 70px;
//       .navbar-thumbnail_image {
//         width: 60px;
//         height: 60px;
//       }
//       .navbar-thumbnail_title {
//         font-size: 0.7rem;
//       }
//     }
//   }
//   .mySwiper {
//     padding: 10px 40px;
//     width: 400px;
//   }
// }
// @media screen and (max-width: 412px) {
//   .navbar-container {
//     .navbar-thumbnail {
//       width: 70px;
//       .navbar-thumbnail_image {
//         width: 60px;
//         height: 60px;
//       }
//     }
//   }
//   .mySwiper {
//     padding: 10px;
//     width: 250px;
//   }
//   .swiper-button-prev::after,
//   .swiper-button-next::after {
//     display: none;
//   }
// }
