.navbar-container {
  background-color: var(--main-color-gray);
  transition: all ease-out 400ms;
  position: fixed;
  width: 100%;

  .navbar-thumbnail {
    background-color: var(--main-color-gray-dark); 
    width: 230px;
		height: 170px;
    margin: 0 auto;
    padding: 8px;
    border-radius: 5px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);


    .navbar-thumbnail_top {

      display: flex;
      justify-content: stretch;
      align-items: center;
      border-bottom: 1px solid var(--main-color-gray);

      .navbar-thumbnail_image {
        width: 100px;
        height: 50px;
        border-radius: 5px;
      }
      .navbar-thumbnail_title {
				width: 100%;
        text-align: center;
        color: var(--main-color-white);
      }
    }
    .navbar-thumbnail_description {
      text-align: left;
      color: var(--main-color-gray-light);
      font-size: 0.8rem;
			padding: 5px 0px;
			border-bottom: 1px solid var(--main-color-gray);
    }
    .navbar-thumbnail_package {
			padding: 0 5px;
			*{
				font-size: 0.8rem;
			}
    }
  }
}

.navbar-container .mySwiper {
  padding: 20px 50px;
	background-color: var(--main-color-gray);
}
.navbar-container .swiper-button-prev::after,
.navbar-container .swiper-button-next::after {
  color: var(--main-color-white);
}

.navbar-container .swiper-slide {
	width: auto!important;
}

@media screen and (max-width: 412px) {
  .navbar-container .swiper-button-prev::after,
  .navbar-container .swiper-button-next::after {
    display: none;
  }
}
