@import "/src/styles/variables";
@import "/src/styles/base";

.main-navbar-container {
	@include fullWidth();
  background-color: $main-color-gray;
  transition: $main-transition;
  position: fixed;

  .navbar-thumbnail {
    background-color: $main-color-gray-dark;
    width: 230px;
		height: 170px;
    margin: 0 auto;
    padding: 8px;
    border-radius: 5px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);

    .navbar-thumbnail_top {
			@include flex-center();
      justify-content: stretch;
      border-bottom: 1px solid $main-color-gray;

      .navbar-thumbnail_image {
        width: 100px;
        height: 50px;
        border-radius: 5px;
      }
      .navbar-thumbnail_title {
				@include fullWidth();
        text-align: center;
        color: #fff;
      }
    }
    .navbar-thumbnail_description {
      text-align: left;
      color: $main-color-gray-light;
      font-size: 0.8rem;
			padding: 5px 0px;
			border-bottom: 1px solid $main-color-gray;
    }
    .navbar-thumbnail_package {
			padding: 0 5px;
			*{
				font-size: 0.8rem;
			}
    }
  }
}

.main-navbar-container .mySwiper {
  padding: 20px 50px;
	background-color: $main-color-gray;
}
.main-navbar-container .swiper-button-prev::after,
.main-navbar-container .swiper-button-next::after {
  color: #fff;
}

.main-navbar-container .swiper-slide {
	width: auto!important;
}

@media screen and (max-width: 412px) {
  .main-navbar-container .swiper-button-prev::after,
  .main-navbar-container .swiper-button-next::after {
    display: none;
  }
}
