@use "/src/styles/global.scss" as *;

.academia-home-intro-container {
  @include flex-center;
  background-color: #f8f8f8;
  .academia-container {
    @include flex-center;
    .academia-home-intro-image {
      width: 50%;
      img {
        height: 850px;
      }
    }
    .academia-home-intro-details {
      width: 50%;
      padding: 0 24px;
      .academia-toptitle {
        color: $academia-color;
        margin-bottom: 10px;
      }
      .academia-main-title {
        margin-bottom: 32px;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .academia-home-intro-container {
    padding: 40px 20px;
    .academia-container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
      flex-direction: column-reverse;
      .academia-home-intro-image {
        width: 100%;
        padding: 0 10px;
        img {
          border-radius: 5px;
          width: 100%;
          height: auto;
        }
      }
      .academia-home-intro-details {
        width: 100%;
        padding: 0;
        .academia-toptitle {
          text-align: center;
        }
        .academia-main-title {
          text-align: center;
        }
      }
    }
  }
}
