@import "/src/styles/variables";
@import "/src/styles/base";

.pato-home__events-container {
  background-image: url(../../../../../../../public/assets/images/pato/home/intro/bg-intro.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding: 50px;
  text-align: center;
  .pato-home__events-header {
    .pato-top-title {
      color: $pato-color-red;
    }
    .pato-title {
      color: #fff;
    }
  }
  .pato-home__events-content {
    width: 100%;
    &:hover .swiper-button-prev:after,
    &:hover .swiper-button-next:after {
      opacity: 1;
    }
    .pato-home__events-item {
      display: flex;
      justify-content: center;
      padding: 50px 100px;

      .pato-home__events-item-time {
        background-color: $pato-color-red;
        color: #fff;
        writing-mode: vertical-lr;
        padding: 20px;
        border-radius: 10px 0 0 10px;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
      }

      .pato-home__events-item-image {
        overflow: hidden;
        max-width: 50%;
        display: flex;
        justify-content: center;
        width: fit-content;
        img {
          object-fit: cover;
          height: 100%;
        }
      }

      .pato-home__events-item-details {
        position: relative;
        padding: 40px;
        background-color: rgba(255, 255, 255, 0.7);
        border-radius: 0 10px 10px 0;
        max-width: 600px;
        .desc {
          padding-top: 10px;
					padding-bottom: 30px;
        }
        .remDayTxt {
          text-transform: uppercase;
          color: #777;
          letter-spacing: 0.2rem;
          padding-top: 30px;
        }
        .remainTime-container {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          flex-direction: column;
          padding-top: 20px;

          .remain-time {
            color: $pato-color-red;
            font-size: 4rem;
            line-height: 3.5rem;
            font-weight: bolder;
          }
          .remain-unit {
            text-transform: uppercase;
            color: #777;
            letter-spacing: 0.2rem;
          }
        }
        .btn {
          position: absolute;
          bottom: 10px;
          left: 0;
          right: 0;
        }
      }
    }

    .swiper-button-prev,
    .swiper-button-next {
      width: 50px !important;
      height: 50px !important;
      transform: translateX(20px);
    }
    .swiper-button-next {
      transform: translateX(-20px);
    }
    .swiper-button-prev:after,
    .swiper-button-next:after {
      @include flex-center();
      width: 100%;
      height: 100%;
      font-size: 1rem;
      color: #fff;
      background-color: rgba(255, 255, 255, 0.4);
      border-radius: 50%;
      transition: $main-transition;
      opacity: 0;
      &:hover {
        background-color: transparentize($pato-color-red, 0.8);
      }
    }
    .swiper-pagination-bullet {
      background-color: rgba(255, 255, 255, 0.4);
      width: 12px;
      height: 12px;
    }
  }
}
