@use "/src/styles/global.scss" as *;

.academia-header-wrapper {
  @include flex-space-between;
  height: 90px;
  padding: 20px 0;
  background-color: transparent;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;

  .academia-header-left {
    @include flex-center;
    gap: 30px;
    * {
      color: rgba(255, 255, 255, 0.8);
      font-size: 0.9rem;
    }

    .academia-header-userInfo-container {
      @include flex-center;
      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 2px solid #fff;
        margin-right: 5px;
      }
      .name {
        margin-right: 30px;
        text-transform: uppercase;
        font-size: 1rem;
        font-weight: 800;
        letter-spacing: 1px;
      }
    }
  }

  .academia-header-right {
    @include flex-center;
    gap: 20px;

    .academia-header-logo-container {
      position: relative;
      line-height: 1.1;
      text-transform: uppercase;
      text-align: right;
      .header-logo {
        font-weight: 800;
        font-size: 1.875rem;
        position: relative;
        transition: $main-transition;
        &:hover {
          color: $academia-color;
          cursor: pointer;
        }
      }
      p {
        font-size: 0.75rem;
        font-weight: 500;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .academia-header-wrapper {
    height: 60px;
    .academia-header-left {
      //     gap: 5px;
      // flex-direction: column;
      // align-items: flex-start;
      // justify-content: flex-start;
      // text-align: left;
      * {
        // font-size: 0.8rem;
      }
      // .header-icon {
      //   font-size: 1.4rem;
      // }

      .academia-header-userInfo-container {
        justify-content: flex-start;
        gap: 5px;
        img {
          width: 30px;
          height: 30px;
          margin-right: 0;
        }
        .name {
          font-size: 0.9rem;
          // font-weight: normal;
          margin-right: 10px;
        }
      }

      .academia-header-item-container {
        // justify-content: flex-start;
        display: none;
      }

      // .academia-header-item-container {
      //   @include flex-center;
      //   gap: 10px;
      // }
    }

    .academia-header-right {
      // flex-direction: column-reverse;
      // gap: 10px;

      .academia-header-logo-container {
        // line-height: 1;
        // text-align: center;
        .header-logo {
          font-weight: 800;
          font-size: 1.2rem;
        }
        p {
          font-size: 0.7rem;
        }
      }
      .academia-social-container {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .academia-header-wrapper {
    .academia-header-left {
      .academia-header-userInfo-container {
        .name {
          display: none;
        }
      }
    }
  }
}
