@use "/src/styles/global.scss" as *;

.academia-footer-container {
  .academia-footer-top {
    background-color: $academia-color;
    padding: 30px 0;
    color: #fff;
    .academia-container {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      h3 {
        font-size: 1.6rem;
        font-weight: bold;
        line-height: 1.5;
      }
      .academia-desc {
        color: #fff;
      }
      .form-wrapper {
        display: flex;
        align-items: flex-start;
        justify-content: stretch;
        padding: 0;
        border-radius: 0;
        border-bottom: 1px solid #fff;

        .academia-footer-input {
          color: #fff;
          padding-left: 0;
          width: 300px;
          &::placeholder {
            color: #fff;
          }
        }
        .academia-footer-btn {
          color: #fff;
        }
        .inputError {
          color: yellow;
        }
      }
    }
  }

  // --------------------------------------------
  .academia-footer-content {
    background-color: #fff;
    padding: 30px 0;
    .academia-container {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-wrap: wrap;
      gap: 30px;

      .academia-footer-item {
        width: 27%;
        min-width: 300px;

        .academia-footer-logo-container {
          position: relative;
          line-height: 1.1;
          text-transform: uppercase;
          .academia-footer-logo {
            font-weight: 800;
            font-size: 1.875rem;
            position: relative;
            transition: $main-transition;
            color: #000;
            cursor: pointer;
          }
          p {
            font-size: 0.75rem;
            font-weight: 500;
            color: $academia-color;
          }
        }

        .academia-desc {
          margin-top: 32px;
          margin-bottom: 16px;
        }

        .academia-footer-social-container {
          .academia-footer-social {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            margin-right: 4px;
            padding: 12px;
            transition: $main-transition;
            background-color: $academia-color;
            color: #fff;
          }
        }

        .academia-title-sm {
          margin-bottom: 32px;
        }

        .academia-footer-navbar-container {
          display: flex;
          flex-direction: column;
          .academia-footer-navbar-link {
            font-size: 1rem;
            color: rgba(0, 0, 0, 0.5);
            font-weight: 500;
            &:hover {
              color: $academia-color;
            }
          }
          .academia-icon {
            margin-right: 10px;
          }
        }

        .academia-footer-blog-container {
          .academia-footer-blog {
            display: flex;
            gap: 15px;
            .academia-footer-blog-image {
              @include flex-center;
              width: 50px;
              min-width: 50px;
              height: 50px;
              margin-top: 5px;
              border-radius: 5px;
              overflow: hidden;
              img {
                height: 100%;
              }
            }
            .academia-footer-blog-details-wrapper {
              .academia-icon {
                margin-right: 5px;
                font-size: 1rem;
              }
              span {
                color: $academia-color;
                font-size: 0.8rem;
                margin-right: 12px;
              }
              .academia-desc {
                margin: 0;
                margin-bottom: 20px;
                cursor: pointer;
              }
            }
          }
        }

        .academia-footer-contact-container {
          .academia-footer-contact {
            display: flex;
            margin-bottom: 16px;
            .academia-icon {
              margin-right: 10px;
              margin-top: 5px;
            }
            .academia-desc {
              margin: 0;
            }
          }
        }
      }
      .academia-footer-item:nth-child(3) {
        width: 15%;
        min-width: 170px;
      }
    }
  }

  // -------------------------------------------
  .academia-footer-bottom {
    text-align: center;
    padding: 30px 0;
    background-color: #f8f8f8;
    .academia-desc {
      font-size: 0.9rem;
      color: #aaa;
    }
  }
}

@media screen and (max-width: 768px) {
  .academia-footer-container {
    .academia-footer-top {
      .academia-container {
        flex-direction: column;
        * {
          text-align: center;
        }
        h3 {
          font-size: 1.4rem;
          margin-bottom: 15px;
        }
        .form-wrapper {
          margin-top: 20px;
          border: 1px solid #fff;
          border-radius: 5px;
          .input-container {
            width: 200px;
            .input {
              width: 100%;
            }
          }
          .inputError {
            border-top: 1px solid #fff;
          }
          .buttons-container .btn {
            height: 2.2rem;
            margin-right: 10px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .academia-footer-container {
    .academia-footer-top .academia-container h3 {
      font-size: 1.2rem;
    }

    .academia-footer-content {
      .academia-container {
        padding: 10px;
        .academia-footer-item {
          width: 100%;
          min-width: 100%;
        }
        .academia-footer-item:nth-child(3) {
          width: 100%;
          min-width: 100%;
        }
      }
    }
  }
}
