@use "/src/styles/global.scss" as *;

.grid {
  .academia-blog-thumb-container {
    background-color: #f8f8f8;
    border-radius: 5px;
    box-shadow: 0px 5px 25px -2px rgba(0, 0, 0, 0.06);
    width: 380px;
    height: 470px;
    transition: $main-transition;
    &:hover {
      background-color: #e6e6e6;
      cursor: pointer;
    }
    .image-wrapper {
      @include flex-center;
      width: 100%;
      height: 260px;
      overflow: hidden;
      border-radius: 5px 5px 0 0;
      img {
        height: 100%;
      }
    }

    .details-wrapper {
      @include flex-justify-start;
      width: 380px;
      margin: 16px 30px;
      .blog-thumb-icon {
        // color: $academia-color;
        // margin-right: 2px;
      }
      span {
        color: #999;
        margin-right: 10px;
        font-size: 0.9rem;
      }
    }

    .academia-subtitle {
      margin: 0 30px;
    }
    .academia-desc {
      height: 50px;
      overflow: hidden;
      color: #999;
      margin: 30px;
      margin-top: 16px;
    }
  }
}

.list {
  .academia-blog-thumb-container {
    background-color: #f8f8f8;
    border-radius: 5px;
    box-shadow: 0px 5px 25px -2px rgba(0, 0, 0, 0.06);
    width: 100%;
    height: auto;
    transition: $main-transition;
    display: flex;
    justify-content: flex-start;
    &:hover {
      background-color: #e6e6e6;
      cursor: pointer;
    }
    .image-wrapper {
      width: 300px;
      min-width: 300px;
      border-radius: 5px;
      img {
        width: 100%;
      }
    }

    .details-wrapper {
      @include flex-justify-start;
      width: auto;
      margin: 16px 30px;
      .blog-thumb-icon {
        color: $academia-color;
        margin-right: 2px;
      }
      span {
        color: #999;
        margin-right: 10px;
        font-size: 0.9rem;
      }
    }

    .academia-subtitle {
      margin: 0 30px;
    }
    .academia-desc {
      height: auto;
      overflow: visible;
      color: #999;
      margin: 30px;
      margin-top: 16px;
    }
  }
}
