@use "/src/styles/global.scss" as *;

.main-error-container {
  @include flex-center-column;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #da4646d8;

  .error-top {
    @include flex-center;
    gap: 10px;

    .error-icon {
      font-size: 5rem;
    }

    .error-title {
      text-transform: uppercase;
      font-size: 1.2rem;
    }
  }

  .error-txt {
    color: rgba(255, 255, 255, 0.9);
  }
}

.fullScreen {
  @include fullscreen;
}
