@use "/src/styles/global.scss" as *;

.pato-sidebar-wrapper {
  position: fixed;
  top: 60px;
  bottom: 0px;
  right: -250px;
  width: 250px;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.6);
  padding: 30px;
  z-index: 9;
  opacity: 0;
  -webkit-transition: $main-transition;
  -o-transition: $main-transition;
  transition: $main-transition;
  &.show {
    opacity: 1;
    right: 0px;
    .sidebar-container {
      opacity: 1;
      padding-left: 0px;
    }
  }
  .sidebar-container {
    -webkit-transition: all ease-in-out 600ms;
    -o-transition: all ease-in-out 600ms;
    transition: all ease-in-out 600ms;
    -webkit-transition-delay: 200ms;
    -o-transition-delay: 200ms;
    transition-delay: 200ms;
    opacity: 0;
    padding-left: 100px;

    .sidebar-closeBtn {
      display: inline-block;
      position: absolute;
      right: 20px;
      top: 20px;
      background-color: transparent;
      border: none;
      cursor: pointer;
      color: #fff;
    }
    .pato-subtitle {
      color: #fff;
      margin-bottom: 50px;
      font-size: 2rem;
    }

    .pato-navbar-container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      .pato-navbar-link {
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        padding: 5px 20px;
        -webkit-transition: $main-transition;
        -o-transition: $main-transition;
        transition: $main-transition;
        font-size: 0.9rem;
        color: #fff;
        &:hover {
          color: $pato-color-red;
        }
      }
      .pato-navbar-link.active {
        color: $pato-color-red;
      }
    }
    .pato-social-container {
      padding-top: 40px;
      .pato-navbar-social-icon {
        color: #fff;
        margin: 0px 10px;
        -webkit-transition: $main-transition;
        -o-transition: $main-transition;
        transition: $main-transition;
        cursor: pointer;
        &:hover {
          color: $pato-color-red;
        }
      }
    }

    .sidebar-link {
      list-style: none;
      height: 45px;
      a {
        text-decoration: none;
        color: rgba(255, 255, 255, 0.5);
        font-size: 1.1rem;
        height: 45px;
        font-weight: 500;
        -webkit-transition: all ease 200ms;
        -o-transition: all ease 200ms;
        transition: all ease 200ms;
        &:hover {
          color: #fff;
        }
      }
    }
  }
}

@media screen and (max-width: 412px) {
  .glint-sidebar-wrapper {
    right: -170px;
    width: 170px;
    padding: 15px;

    .sidebar-container {
      .sidebar-title {
        letter-spacing: 0.15rem;
        font-size: 0.65rem;
        margin: 20px 0px;
      }
      .sidebar-link {
        height: 30px;
        a {
          font-size: 0.85rem;
        }
      }
    }
  }
}
