@import "/src/styles/variables";
@import "/src/styles/base";

.glint-home-container {
  height: calc(100vh - 60px);
  background-color: #000;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../../../../../public/assets/images/glint/hero-bg.webp");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;

  .home-txt-container {
    @include flex-center();
    align-items: start;
    flex-direction: column;
    height: 100%;
    padding: 0px 0px 0px 20%;
    .home-txt__welcome {
      color: rgba(255, 255, 255, 0.5);
    }
    .home-txt__description {
      color: #fff;
    }
    .home-txt__btn-container {
      margin-top: 80px;
      display: flex;
      flex-wrap: wrap;
      .home-txt__btn {
        width: 215px;
        height: 54px;
        margin-right: 20px;
        text-transform: uppercase;
        * {
          font-size: 0.8rem !important;
          letter-spacing: 0.1rem;
        }
        &:hover {
          background-color: #fff;
        }
      }
    }
  }
  .home-social-container {
    @include flex-center();
    align-items: flex-end;
    flex-direction: column;
    gap: 20px;
    margin: 0px 50px;
  }
}

@media screen and (max-width: 992px) {
  .glint-home-container {
    min-height: 480px;
    padding: 80px 0px;
    .home-txt-container {
      padding-left: 10%;
      .home-txt__btn-container {
        margin-top: 40px;
        .home-txt__btn {
          width: 200px;
          height: 50px;
          a {
            font-size: 0.6rem;
          }
        }
      }
    }
    .home-social-container {
      margin-left: 0px;
    }
  }
}

@media screen and (max-width: 768px) {
  .glint-home-container {
    min-height: unset;
    padding: 100px 20px;
    flex-direction: column;
    text-align: center;
    justify-content: center;

    .home-txt-container {
      height: auto;
      padding-left: 0px;
      .home-txt__description {
        padding: 0px 20px;
      }
      .home-txt__btn-container {
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: auto;
        .home-txt__btn {
          display: block;
          height: 40px;
          margin: 5px auto;
        }
      }
    }
    .home-social-container {
      margin: 20px 0px;
      flex-direction: row;

      .tooltip {
        display: none;
      }
    }
  }
}
