@import "/src/styles/variables";
@import "/src/styles/base";

.pato-home-welcome-container {
  @include flex-center();
  padding: 50px;
  background-color: #eee;
  .pato-home-welcome__txt {
    text-align: center;
    padding: 40px;

    .pato-home-welcome__txt-title {
      margin-bottom: 10px;
      color: $pato-color-red;
    }
    .pato-home-welcome__txt-desc {
      max-width: 400px;
      color: #666;
    }
  }
  .pato-home-welcome__img {
    margin: 0 50px;
    img {
      max-width: 400px;
    }
  }
}
