@use "/src/styles/global.scss" as *;

.academia-team-thumb-container {
  width: 300px;
  height: 550px;
  border-radius: 5px;
  margin: 10px;
  background-color: #fff;
  text-align: center;
  position: relative;
  transition: $main-transition;
  &:hover {
    background-color: $academia-color;
    color: #fff;
    cursor: pointer;
    .image-wrapper {
      border: 1px solid $academia-color;
    }
    .academia-desc {
      color: #fff;
    }
    .social-container .icon {
      opacity: 1;
      visibility: visible;
    }
  }

  .image-wrapper {
    @include flex-center;
    width: 100%;
    height: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    img {
      height: 100%;
    }
  }
  .academia-subtitle {
    margin: 10px 0;
    transition: $main-transition;
  }
  .academia-desc {
    padding: 0 20px;
    text-wrap: wrap;
    color: #999;
    transition: $main-transition;
  }
  .social-container {
    @include flex-center-column;
    position: absolute;
    bottom: 160px;
    left: 10px;
    .icon {
      width: 40px;
      height: 40px;
      padding: 10px;
      background-color: $academia-color;
      color: #fff;
      border-radius: 50%;
      opacity: 0;
      visibility: hidden;
      transition: $main-transition;
    }
  }
}
