@use "/src/styles/global.scss" as *;

.notfound-container {
  @include flex-center-column;
	height: calc(100vh - 60px);
  background-color: #000;

  .notfound-icon {
    color: red;
    font-size: 4rem;
  }
  .notfound-txt {
    color: #fff;
    font-size: 2rem;
    line-height: 2rem;
  }
  .notFound-btn {
    margin-top: 20px;
  }
}
