@use "/src/styles/global.scss" as *;

.academia-navbar-wrapper {
  @include flex-space-between;
  height: 70px;
  background: rgba(255, 255, 255, 0.1);
	position: absolute;
	top: 90px;
	left: 0;
	right: 0;
	z-index: 3;

  .academia-navbar-container {
    height: 100%;
    .academia-navbar-link {
      font-size: 1rem;
      padding: 1.4rem 25px;
      color: rgba(255, 255, 255, 0.9);
      font-weight: 500;
      line-height: 70px;
      &.active {
        color: $academia-color;
      }
    }
  }
  .academia-navbar-right {
    .academia-toptitle {
      position: relative;
      width: 250px;
      padding: 1.5rem;
      text-align: center;
      background-color: #1eb2a6;
      color: #fff;
      &::after {
        content: "";
        position: absolute;
        left: -25px;
        top: 0;
        bottom: 0;
        width: 25px;
        height: 100%;
        background-color: transparent;
        border-bottom: 68px solid $academia-color;
        border-left: 25px solid transparent;
      }
    }
  }
}
