.services-container {
  background-color: var(--main-color-white);
  flex-direction: column;
  text-align: center;

  .services-header {
    padding: 0px 10%;
    .services-header__top {
      color: var(--color-green);
    }
    .services-header__title {
      padding-bottom: 20px;
      border-bottom: 1px solid var(--main-color-semi-black);
    }
  }

  .service-item-container {
		max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 0px;
    .service-item-thumbnail {
			display: flex;
			align-items: flex-start;
      width: 45%;
			padding: 10px;

			.service-item-icon .icon{
				font-size: 2rem;
			}

      .service-item__desc {
        padding-left: 10px;
				height: 14vh;
				overflow: hidden;
        h5 {
          font-size: 1.7rem;
          text-align: left;
        }
        p {
          font-size: 1rem;
          color: var(--main-color-gray);
          text-align: left;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .services-container {
    .service-item-container {
			padding: 20px;
			.service-item-thumbnail {
				width: 100%;
				.service-item__desc {
					padding-left: 10px;
					height: 8vh;
					overflow: hidden;
					h5 {
						font-size: 1.1rem;
					}
					p {
						font-size: 0.8rem;
					}
				}
			}
		}
  }
}

