$main-color-gray-dark: #222;
$main-color-gray-semi-dark: #333;
$main-color-gray: #444;
$main-color-gray-semi-light: #777;
$main-color-gray-light: #999;

$main-transition: all 400ms ease-out;
$swiper-theme-color: #000;

$glint-color-green: #39B44C;
$pato-color-red: #EC1D25;
$academia-color: #1EB2A6;
