
:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
	height: 100vh;
	background-color: #727272 ;
	line-height: 1.5;
}

*,
*::before,
*::after{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#root {
  isolation: isolate;
}

a{
	text-decoration: none;
}

button{
	border: none;
	outline: none;
}

li {
	list-style: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}