@import "/src/styles/variables";
@import "/src/styles/base";

.pato-menu-container {
  .pato-menu-category-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    background-color: #efefef;
    padding: 30px;
		.pato-menu-category-container {
			padding: 30px;
			width: 40%;
		}
  }
}
