@import "/src/styles/variables";

.glint-logo__container {
	position: fixed;
	top: 70px;
	left: 40px;
	display: flex;
	align-items: baseline;
	
	.bold-letter {
		font-size: 2.4rem;
		font-weight: 600;
		color: #fff;
		text-shadow: #000 2px 2px 5px;
	}
	.green-dot {
		background-color: $glint-color-green;
		width: 7px;
		height: 7px;
		border-radius: 100%;
		margin-left: 7px;
		box-shadow: #000 2px 2px 5px;
	}
}

@media screen and (max-width: 768px) {
	.glint-logo__container {
		top: 60px;
		left: 30px;
		.bold-letter {
			font-size: 1.8rem;
		}
  }
}


@media screen and (max-width: 412px) {
	.glint-logo__container {
		top: 50px;
		left: 20px;
		.bold-letter {
			font-size: 1.7rem;
		}
  }
}
