.input-container{


	.input{
border: none;
outline: none;
padding: 15px 0;
color: #fff;
transition: all 400ms ease-out;
border-bottom: 1px solid #555;
&:focus{
	border-bottom: 1px solid var(--glint-color-green);
}

	}
	.transparent{
		background-color: transparent;

	}
	.full{
		width: 100%;
	}

}