@keyframes fadeUp {
  0% {
    transform: translateY(200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes fadeDown {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.dd{
	width: 200px;
	height: 200px;
	background-color: yellow;

}

.fadeUp{
	animation: fadeUp 600ms 1 ease-out;
	}
	.fadeDown{
		animation: fadeDown 600ms 1 ease-out;
		}

.hidden{
	opacity: 0;
}