@use "/src/styles/global.scss" as *;

.pato-reservation-container {
  .pato-reservation-content {
    background-color: #efefef;
    padding: 50px 0;
    .form-wrapper {
      @include flex-center();
      flex-wrap: wrap;
      max-width: 1200px;
      margin: 0 auto;
      .input-wrapper {
        width: auto;
        flex-direction: column;
        margin: 20px 15px 0 15px;
        input,
        select {
          width: 300px;
          background-color: #fff;
          color: #555;
        }
      }
      .buttons-container {
        @include flex-center();
        width: 100%;
        margin: 30px;
      }
      .pato-reservation-label {
        display: block;
        width: 100%;
        text-align: left;
        font-size: 1.1rem;
        letter-spacing: 0.1rem;
        padding-bottom: 5px;
        padding-left: 5px;
      }
    }
    .pato-reservation-bottom {
      @include flex-align-start;
      max-width: 1200px;
      margin: 40px auto;

      .pato-reservation-bottom__item {
        min-width: 300px;
        max-width: 500px;
        padding: 30px;
        .pato-subtitle {
          margin-bottom: 10px;
        }
        .pato-reservation-bold {
          color: $pato-color-red;
        }
      }
    }
  }
}

@media screen and (max-width: 650px) {
  .pato-reservation-container {
    .pato-reservation-content {
      .form-wrapper {
        .input-wrapper {
          width: 80%;
          input,
          select {
            width: 100%;
          }
        }
      }

      .pato-reservation-bottom {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        .pato-reservation-bottom__item {
          margin: 0 auto;
        }
      }
    }
  }
}
