@use "/src/styles/global.scss" as *;

.pato-home-intro-container {
  background-color: #fff;
  .pato-home-intro-content {
    @include flex-align-start;
    gap: 30px;
    padding: 50px 20px;
    .pato-home-intro-content-container {
      padding: 40px 0;
      .pato-home-intro-content__image {
        width: 300px;
      }
      .pato-home-intro-content__title {
        margin: 15px 0;
      }
      .pato-home-intro-content__desc {
        max-width: 300px;
      }
      .pato-home-intro-content__btn {
        background-color: transparent;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        color: #777;
        padding: 20px 0;
        cursor: pointer;
        transition: $main-transition;
        &:hover {
          color: $pato-color-red;
        }
      }
    }
  }
}

@media screen and (max-width: 1100px) {
  .pato-home-intro-container {
    .pato-home-intro-content {
      .pato-home-intro-content-container {
        width: 250px;
        padding: 0;
        .pato-home-intro-content__image, .pato-home-intro-content__desc  {
          width: 250px;
        }
      }
    }
  }
}

@media screen and (max-width: 850px) {
  .pato-home-intro-container {
    .pato-home-intro-content {
			@include flex-center-column;
      .pato-home-intro-content-container {
        width: 200px;
        padding: 0;
        .pato-home-intro-content__image, .pato-home-intro-content__desc  {
          width: 200px;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .pato-home-intro-container {
    .pato-home-intro-content {
      .pato-home-intro-content-container {
        width: 300px;
        padding: 0;
        .pato-home-intro-content__image, .pato-home-intro-content__desc  {
          width: 300px;
        }
      }
    }
  }
}