@use "/src/styles/global.scss" as *;

.academia-home-intro-thumb {
  .academia-home-intro-thumb-details {
    padding-left: 20px;
    .academia-subtitle {
      padding-bottom: 15px;
    }
    .academia-desc {
      color: #aaa;
    }
  }
}
