@use "/src/styles/global.scss" as *;

.academia-home-intro-thumb {
  .academia-home-intro-thumb-details {
    padding-left: 20px;
    .academia-subtitle {
      padding-bottom: 15px;
    }
    .academia-desc {
      color: #aaa;
    }
  }
}

@media screen and (max-width: 412px) {
  .academia-home-intro-thumb {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    .academia-avatar {
      display: block;
      margin: 0 auto;
    }
  }
}
