.contactInfo-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--main-color-gray);
  padding: 10px 50px;
  transition: all ease-out 400ms;
  position: fixed;
  width: 100%;
	
  .contactInfo-image img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
  }
  .contactInfo-info {
    display: flex;
    justify-content: stretch;
    align-items: center;
    padding-left: 30px;
    gap: 50px;

    .contactInfo-name,
    .contactInfo-contact {
      padding-bottom: 20px;
      text-align: center;
      color: var(--main-color-gray-light);
    }
  }

  .contactInfo-package {
    text-align: left;
    padding-left: 30px;
		display: flex;
		flex-wrap: wrap;
    p {
      color: var(--main-color-white);
			margin-right: 5px;
    }
  }
}

@media screen and (max-width: 768px) {
  .contactInfo-container {
    padding: 5px 20px;
    .contactInfo-image img {
      width: 80px;
      height: 80px;
    }
    .contactInfo-info {
      padding-left: 10px;
      gap: 30px;
      .contactInfo-name,
      .contactInfo-contact {
        padding-bottom: 20px;
        font-size: 0.8rem;
      }
    }
    .contactInfo-package {
      padding-left: 20px;
      font-size: 0.8rem;
    }
  }
}

@media screen and (max-width: 450px) {
  .contactInfo-container {
    padding: 5px 30px;
    padding-bottom: 60px;
    .contactInfo-image {
      width: 30%;
      text-align: center;
      img {
        width: 60px;
        height: 60px;
      }
    }
    .contactInfo-info {
      padding-left: 10px;
      flex-direction: column;
      gap: 0px;
      .contactInfo-name,
      .contactInfo-contact {
        padding-bottom: 0px;
      }
    }
    .contactInfo-package {
      position: absolute;
      bottom: 10px;
      left: 0;
      right: 0;
      padding-left: 10px;
    }
  }
}
