@use "/src/styles/global.scss" as *;

.main-slider-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: #000000;
  -webkit-transition: all 2s ease-out;
  -o-transition: all 2s ease-out;
  transition: all 2s ease-out;
  z-index: 20;
  .slider__slides {
    .slide-item {
      @include flex-center-column;
      height: 100vh;

			// ---------------- image----------------
      .image-wrapper {
        @include flex-center;
        max-width: 700px;
        max-height: 70vh;
        width: 80%;
        margin: 0 auto;
        overflow: hidden;
        aspect-ratio: 1/1;
        border-radius: 10px;
        img {
          width: 100%;
        }
      }

			// ---------------- details----------------
      h5 {
        color: #fff;
        padding-top: 20px;
        font-size: 1.3rem;
      }
      p {
        color: #aaa;
      }
      .slideNumber {
        color: #aaa;
        padding: 5px;
      }

			// ---------------- header btn styles ----------------
      .main-slider__icon-container {
        position: absolute;
        top: 20px;
        right: 20px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        .main-slider__btn {
          color: #aaa;
          font-size: 1.5rem;
          margin-right: 8px;
          cursor: pointer;
          &:hover {
            color: #fff;
          }
        }

				// ---------------- share btn ----------------
        .main-slider__share-container {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          -webkit-box-align: end;
          -ms-flex-align: end;
          align-items: flex-end;
          &:hover .main-slider-contextMenu {
            opacity: 1;
            & * {
              display: inline;
            }
          }
          .main-slider-contextMenu {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            gap: 5px;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            background-color: #fff;
            border-radius: 5px 0 5px 5px;
            padding: 10px;
            opacity: 0;
            -webkit-transition: $main-transition;
            -o-transition: $main-transition;
            transition: $main-transition;
            & * {
              color: #aaa;
              display: none;
            }
            .context-item {
              @include flex-center;
              display: block;
              gap: 5px;
              padding: 5px 20px;
              cursor: pointer;
              &:hover * {
                color: #000;
              }
            }
          }
        }
      }
    }

		// ---------------- slider styles ----------------
    .swiper-button-prev::after,
    .swiper-button-next::after {
      color: #ffffff50;
    }
  }
}

// ---------------- responsive styles ----------------
@media screen and (max-width: 412px) {
  .main-slider-container {
    .slider__slides {
      .slide-item {
        .image-wrapper {
          width: 90%;
        }
      }
      .swiper-button-prev::after,
      .swiper-button-next::after {
        display: none;
      }
    }
  }
}
