.menu-wrapper{
	position: fixed;
	right: 40px;
	top: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 15px;
	background-color: var(--main-color-black);
	padding: 12px 24px;
	cursor: pointer;
	z-index: 8;
}

.menu-txt{
	color: var(--glint-color-green);
	font-weight: 600;
	letter-spacing: 3px;
	font-size: 0.9rem;
	transition: all ease-out 400ms;
}

.menu-icon{
	color: var(--main-color-white);
}

.menu-wrapper:hover>.menu-txt{
	color: var(--main-color-white);
}

@media screen and (max-width: 768px) {
	.menu-wrapper{
		top: 70px;
		padding: 10px 20px;
	}
	.menu-txt{
		font-size: 0.8rem;
	}
}
@media screen and (max-width: 412px) {
	.menu-wrapper{
		top: 60px;
	}
	.menu-txt{
		display: none;
	}
}

