#glint{
	overflow-y: auto;
	height:calc(100vh - 60px);
}

.fullWidth{
	display: block;
	width: 100% !important;
}

.section-container {
  height: 100vh;
  // min-height: 760px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top-title {
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  margin-left: 6px;
  margin-bottom: 12px;
  font-size: 1.2rem;
  font-weight: 700;
}
.main-title {
  font-size: 4rem;
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: -0.1rem;
}
.animate__animated, .animate__fadeInUp{
	position: relative;
	z-index: 0 !important;
}

@container (max-width: 992px) {
  .top-title {
    letter-spacing: 0.25rem;
    font-size: 1rem;
  }
  .main-title {
    font-size: 3rem;
  }
}

@container (max-width: 768px) {
  .top-title {
    font-size: 0.8rem;
  }
  .main-title {
    font-size: 2.2rem;
  }
}

@container (max-width: 600px) {
  .top-title {
    font-size: 0.6rem;
    width: 100%;
  }
  .main-title {
    font-size: 2rem;
  }
}
