@import "/src/styles/variables";
@import "/src/styles/base";

#glint {
  overflow-y: auto;
  height: calc(100vh - 60px);
  scroll-behavior: smooth;
}

.fullWidth {
  display: block;
  width: 100% !important;
}

.section-container {
  @include flex-center();
  padding: 50px 0px;
  min-height: 100vh;
}
.top-title {
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  margin-left: 6px;
  margin-bottom: 12px;
  font-size: 1.2rem;
  font-weight: 700;
}
.main-title {
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.3;
}
.animate__animated,
.animate__fadeInUp {
  position: relative;
  z-index: 0 !important;
}
.devider {
  height: 0px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  width: 60%;
  max-width: 400px;
  margin: 30px;
}
.devider.dark {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
.submit-btn{
	@include flex-center();
	background-color: $glint-color-green;
	padding: 10px 30px;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	font-size: 0.8rem;
	cursor: pointer;
	
}

@media screen and (max-width: 992px) {
  .top-title {
    letter-spacing: 0.25rem;
    font-size: 1rem;
  }
  .main-title {
    font-size: 3rem;
  }
}

@media screen and (max-width: 768px) {
  #glint {
    height: calc(100vh - 50px);
  }
  .top-title {
    font-size: 0.8rem;
  }
  .main-title {
    font-size: 2.2rem;
  }
}

@media screen and (max-width: 600px) {
  .top-title {
    font-size: 0.6rem;
  }
  .main-title {
    font-size: 2rem;
  }
}

@media screen and (max-width: 412px) {
  #glint {
    height: calc(100vh - 40px);
  }
  .main-title {
    font-size: 1.5rem;
  }
}
