@use "/src/styles/global.scss" as *;

.academia-course-thumb-container {
  width: 280px;
  height: 380px;
  position: relative;
  &:hover {
    background-color: #e6e6e6;
  }

  // course information:
  .academia-course-thumb-top {
    @include flex-align-start;
    gap: 5px;
    .icon {
      background-color: $academia-color;
      color: #fff;
      border-radius: 50%;
      padding: 10px;
    }
    .academia-course-thumb-details {
      width: 200px;
      .academia-title-sm {
        margin-bottom: 10px;
      }
      .score-wrapper {
        @include flex-justify-start;
        color: $academia-color;
        gap: 7px;
        margin-bottom: 5px;

        .score-icon {
          margin-right: 2px;
        }
      }
      .teacher-wrapper {
        @include flex-justify-start;
        margin-bottom: 5px;
        .image-wrapper {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          overflow: hidden;
          img {
            width: 100%;
          }
        }
        .author {
          color: #999;
          margin-left: 10px;
          font-size: 0.95rem;
        }
      }
      .lecture {
        color: $academia-color;
        font-size: 0.9rem;
        font-weight: bold;
      }
    }
  }

  // price and purchase button:
  .price-wrapper {
    @include flex-center;
    gap: 20px;
    background-color: #f8f8f8;
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
    color: $academia-color;
    font-size: 1.05rem;
    position: absolute;
    bottom: 120px;
    left: 30px;
    right: 30px;

    .deleted {
      color: #aaa;
      font-size: 0.95rem;
      position: relative;
      &::after {
        content: "";
        width: 140%;
        height: 1px;
        background-color: #aaa;
        position: absolute;
        top: 50%;
        left: -20%;
      }
    }
  }
  .academia-course-thumb-btn {
    position: absolute;
    bottom: 60px;
    left: 30px;
    right: 30px;
    * {
      font-size: 1rem;
    }
  }

  // discount:
  .academia-course-discount {
    @include flex-center;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 35px;
    height: 35px;
    background-color: red;
    color: #fff;
    border-radius: 10px;
    font-size: 0.8rem;
    font-weight: bold;
  }

  // link to shoe course details page
  .academia-course-details {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    position: absolute;
    bottom: 10px;
    right: 0;
    color: $academia-color;
  }
}

@media screen and (min-width: 450px) {
  .academia-course-thumb-container {
    width: 380px;
    height: 380px;
    .academia-course-thumb-top .academia-course-thumb-details {
      width: 250px;
    }
    .price-wrapper {
      bottom: 110px;
    }
    .academia-course-thumb-btn {
      bottom: 50px;
    }
  }
}

@media screen and (min-width: 576px) {
  .list .academia-course-thumb-container {
    width: 100%;
    height: 220px;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    .academia-course-thumb-top {
      gap: 10px;
      .icon {
        width: 40px;
        height: 40px;
      }
      .academia-course-thumb-details {
        .academia-title-sm {
          margin-bottom: 5px;
        }
      }
    }
    .price-wrapper,
    .academia-course-thumb-btn {
      width: 200px;
      left: auto;
    }
  }
}

@media screen and (min-width: 1100px) {
  .list .academia-course-thumb-container {
    .academia-course-thumb-top {
      .icon {
        width: 80px;
        height: 80px;
      }
    }
    .price-wrapper,
    .academia-course-thumb-btn {
      width: 320px;
    }
  }
}
