@use "/src/styles/global.scss" as *;

.grid {
  .academia-course-thumb-container {
    width: 380px;
    height: 450px;
    position: relative;
		&:hover {
			background-color: #e6e6e6;
		}
    .academia-course-thumb-top {
      @include flex-align-start;
      gap: 20px;
      .icon {
        background-color: $academia-color;
        color: #fff;
        border-radius: 50%;
        padding: 10px;
      }
      .academia-course-thumb-details {
        width: 250px;
        .academia-title-sm {
          margin-bottom: 10px;
        }
        .score-wrapper {
          @include flex-justify-start;
          color: $academia-color;
          gap: 7px;
          margin-bottom: 5px;

          .score-icon {
            margin-right: 2px;
          }
        }
        .teacher-wrapper {
          @include flex-justify-start;
          margin-bottom: 5px;
          .image-wrapper {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            overflow: hidden;
            img {
              width: 100%;
            }
          }
          .author {
            color: #999;
            margin-left: 10px;
            font-size: 0.95rem;
          }
        }
        .lecture {
          color: $academia-color;
          font-size: 0.9rem;
          font-weight: bold;
        }
      }
    }
    .price-wrapper {
      @include flex-center;
      gap: 20px;
      width: 320px;
      background-color: #f8f8f8;
      border-radius: 5px;
      padding: 10px;
      font-weight: bold;
      color: $academia-color;
      font-size: 1.05rem;
      position: absolute;
      bottom: 110px;
      left: 30px;

      .deleted {
        color: #aaa;
        font-size: 0.95rem;
        position: relative;
        &::after {
          content: "";
          width: 140%;
          height: 2px;
          background-color: #aaa;
          position: absolute;
          top: 50%;
          left: -20%;
        }
      }
    }
    .academia-course-thumb-btn {
      position: absolute;
      bottom: 50px;
      left: 30px;
			right: 30px;
			*{
				font-size: 1rem;
			}
    }
    .academia-course-discount {
      @include flex-center;
      position: absolute;
      top: 10px;
      right: 10px;
      width: 35px;
      height: 35px;
      background-color: red;
      color: #fff;
      border-radius: 10px;
      font-size: 0.8rem;
      font-weight: bold;
    }
		.academia-course-details{
			flex-direction: row-reverse;
			position: absolute;
			bottom: 10px;
			right: 0;
			color: $academia-color;
		}
  }
}

.list {
  .academia-course-thumb-container {
    width: 100%;
    position: relative;
    justify-content: flex-start;
		&:hover {
			background-color: #e6e6e6;
		}
    .academia-course-thumb-top {
      @include flex-align-start;
      gap: 20px;
      .icon {
        background-color: $academia-color;
        color: #fff;
        border-radius: 50%;
        width: 80px;
        height: 80px;
        padding: 10px;
      }
      .academia-course-thumb-details {
        .academia-title-sm {
          margin-bottom: 5px;
        }
        .score-wrapper {
          @include flex-justify-start;
          color: $academia-color;
          gap: 7px;
          margin-bottom: 5px;

          .score-icon {
            margin-right: 2px;
          }
        }
        .teacher-wrapper {
          @include flex-justify-start;
          margin-bottom: 5px;
          .image-wrapper {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            overflow: hidden;
            img {
              width: 100%;
            }
          }
          .author {
            color: #999;
            margin-left: 10px;
            font-size: 0.95rem;
          }
        }
        .lecture {
          color: $academia-color;
          font-size: 0.9rem;
          font-weight: bold;
        }
      }
    }
    .price-wrapper {
      @include flex-center;
      gap: 20px;
      width: 320px;
      background-color: #f8f8f8;
      border-radius: 5px;
      padding: 10px;
      font-weight: bold;
      color: $academia-color;
      font-size: 1.05rem;
      position: absolute;
      bottom: 110px;
      right: 30px;
      .deleted {
        color: #aaa;
        font-size: 0.95rem;
        position: relative;
        &::after {
          content: "";
          width: 140%;
          height: 1px;
          background-color: #aaa;
          position: absolute;
          top: 50%;
          left: -20%;
        }
      }
    }
    .academia-course-thumb-btn {
      width: 320px;
      position: absolute;
      bottom: 50px;
      right: 30px;
			*{
				font-size: 1rem;
			}
    }
    .academia-course-discount {
      @include flex-center;
      position: absolute;
      top: 10px;
      right: 10px;
      width: 35px;
      height: 35px;
      background-color: red;
      color: #fff;
      border-radius: 10px;
      font-size: 0.8rem;
      font-weight: bold;
    }
		.academia-course-details{
			flex-direction: row-reverse;
			position: absolute;
			bottom: 10px;
			right: 0;
			color: $academia-color;
		}
  }
}
