@use "/src/styles/global.scss" as *;

.pato-gallery-item {
  width: 300px;
  height: 200px;
  margin: 10px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  transition: $main-transition;
  opacity: 1;
  visibility: visible;
  &.hide {
    width: 0;
    opacity: 0;
    visibility: hidden;
  }
  .pato-gallery-details {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 10px;
    .top {
      position: absolute;
      top: -100px;
      transition: $main-transition;
      .pato-subtitle {
        color: #fff;
        text-wrap: wrap;
        font-size: 0.9rem;
        font-weight: bold;
      }
      .pato-desc {
        font-size: 0.85rem;
      }
    }
    .pato-gallery-category-container {
      position: absolute;
      bottom: -20px;
      transition: $main-transition;
      .pato-gallery-category {
        font-size: 0.85rem;
        border-radius: 10px;
        padding: 0 10px;
        margin-right: 5px;
        background-color: #ffffff90;
        color: #111;
      }
    }
  }
  &:hover {
    .pato-gallery-details {
      background-color: #000000bb;
      .top {
        top: 10px;
      }
      .pato-gallery-category-container {
        bottom: 5px;
      }
    }
  }
}

@media screen and (max-width:412px) {
	.pato-gallery-item {
		width: 290px;
		height: 200px;
		margin: 10px 0;
}
}