.academia-page-header {
  height: 350px;
  background-image: url("../../../../../public/assets/images/academia/home/bg_2.png");
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 200px;
  h1 {
    color: #fff;
    text-align: center;
    font-size: 4rem;
  }
}
