.academia-page-header {
  height: 350px;
  background-image: url("../../../../../public/assets/images/academia/home/bg_2.png");
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 200px;
  h1 {
    color: #fff;
    text-align: center;
    font-size: 4rem;
  }
}

@media screen and (max-width: 1200px) {
  .academia-page-header {
    height: 300px;
    padding-top: 150px;
    h1 {
      font-size: 2rem;
    }
  }
}

@media screen and (max-width: 500px) {
  .academia-page-header {
    height: 250px;
    padding-top: 130px;
    h1 {
      font-size: 1.5rem;
    }
  }
}
