.academia-contact-wrapper {
  background-color: #f8f8f8;
  .academia-container {
    .academia-contact-container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      padding: 50px 0;

			// location on map
      #googleMap {
        width: 50%;
        border-radius: 5px 0 0 5px;
        .location {
          border: none;
        }
      }

			// details and information
      .academia-contact-right {
        width: 50%;
        padding: 50px 30px;
        background-color: #fff;
        border-radius: 0 5px 5px 0;
        .academia-contact-details {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: justify;
              -ms-flex-pack: justify;
                  justify-content: space-between;
          gap: 20px;
          .academia-contact-item:first-child {
            width: 40%;
          }
        }
        .academia-title-sm {
          padding-top: 40px;
        }
        .form-wrapper {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
          gap: 6px;
          padding: 0;
          .input-wrapper {
            width: calc(50% - 3px);
            padding: 3px 0;
            .input {
              width: 100%;
              padding: 10px;
              color: #555;
            }
            textarea {
              height: 200px;
            }
          }
          .email,
          .message {
            width: 100%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .academia-contact-wrapper .academia-container .academia-contact-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    #googleMap {
      width: 100%;
      height: 400px;
      border-radius: 5px 5px 0 0;
    }
    .academia-contact-right {
      width: 100%;
      border-radius: 0 0 5px 5px;
    }
  }
}

@media screen and (max-width: 576px) {
  .academia-contact-wrapper
    .academia-container
    .academia-contact-container
    .academia-contact-right {
    .academia-contact-details {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      .academia-contact-item:first-child {
        width: 100%;
      }
    }
    .form-wrapper .input-wrapper {
      width: 100%;
    }
  }
}