.form-wrapper {
  border-radius: 5px;
  padding: 20px;
  font-size: 0.9rem;

  .input-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
		flex-direction: column;
		width: 100%;
		.input-container{
			width: 100%;
		}
		.fullWidth{
			width: 100%;
		}
		.inputError{
			color: red;
			font-size: 0.8rem;
			width: 100%;
		}
  }
	.buttons-container{
		display: flex;
		justify-content: start;
		align-items: center;
		gap: 20px;
	}
}


// .inputs-container .input-wrapper {
//   width: 220px;
//   display: flex;
//   flex-direction: column;
//   padding: 5px;
// }

// .inputs-container .input-wrapper.checkbox {
//   flex-direction: row-reverse;
//   justify-content: start;
//   cursor: pointer;
// }

// .inputs-container label {
//   padding: 5px;
//   font-size: 0.9rem;
// }
// .inputs-container input,
// .inputs-container select {
//   padding: 5px;
//   border: none;
//   outline: none;
//   border-radius: 5px;
// }
// .recaptcha div {
//   display: flex;
//   justify-content: center;
//   margin-top: 5px;
// }
// .inputs-container .inputError {
//   color: rgb(255, 174, 0);
//   font-size: 0.8rem;
//   margin-bottom: 10px;
// }
// .buttons-container {
//   padding: 10px;
//   margin: 10px;
//   display: flex;
//   justify-content: left;
//   gap: 20px;
//   border-top: 1px solid rgba(255, 255, 255, 0.3);
// }
