@use "/src/styles/global.scss" as *;

.form-wrapper {
  border-radius: 5px;
  padding: 20px;
  font-size: 0.9rem;

  .input-wrapper {
    @include flex-center-column;
		width: 100%;
		.input-container{
			width: 100%;
		}
		.fullWidth{
			width: 100%;
		}
		.inputError{
			color: red;
			font-size: 0.8rem;
			width: 100%;
		}
  }
	.buttons-container{
		@include flex-justify-start;
		gap: 20px;
	}
}

