@import "/src/styles/variables";
@import "/src/styles/base";

.pato-blog-container {
  background-color: #fff;
  .pato-blog-content {
    display: flex;

    .pato-blog-main-container {
      width: 70%;
      padding: 50px 20px;
      border-right: 1px solid #efefef;
    }
    .pato-blog-sidebar {
      width: 30%;
      padding: 50px 20px;
      & > div {
        max-width: 300px;
      }
			.pato-blog-search-container{
				margin: 0 auto;
				.form-wrapper{
					display: flex;
					align-items: flex-start;
					max-width: 300px;
					margin: 30px auto;
					padding: 0;
				}
				input{
					width: 100%;
					border-radius: 5px 0 0 5px;
					color: #555;
					height: 40px;
				}
				.btn{
					width: 40px;
					height: 40px;
					border-radius: 0 5px 5px 0;
					svg{
						font-size: 1.5rem;
					}

				}
			}
      .pato-blog-categories-container {
        margin: 30px auto;

        .pato-blog-category {
          padding: 10px 0;
          text-transform: uppercase;
          font-size: 0.9rem;
          color: #aaa;
          border-bottom: 1px solid #d4d4d4;
					cursor: pointer;
					transition: $main-transition;;
					&:hover{
						color: $pato-color-red;
					}
        }
        .pato-subtitle {
          padding: 20px 0;
        }
      }

			.pato-blog-popular-container{
				@include flex-center();
				flex-direction: column;
				gap: 10px;
				margin: 30px auto;
				.pato-blog-popular{
					display: flex;
					img{
						width: 100px;
						border-radius: 10px;
					}
				}
			}
    }
  }
}
